@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Karla',
        sans-serif;
}

html,
body {

    margin: 0;

    padding: 0;
    height: 100%;
}

body {
    background-color: #151019
}

.background {
    position: absolute;
    display: block;
    height: 120vh !important;
    top: 0;
    left: 0;
    z-index: -100;
}

.btn button {
    position: relative;
    z-index: 1;
    /* box-shadow: 0 10px gray; */

}

.btn button:active {
    transform: scale(0.99);
}

.btn button:before {
    content: "Generate meme";
    padding-top: 20px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--gradient);
    transition: opacity .35s ease-in-out;
}

.btn button:hover:before {
    opacity: 1;
}